#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header{
  position: sticky;
  top: 0;
  padding:20px 0;
  background-color: red;
  text-align: center;
  font-family: sans-serif;
}

.list-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-card {
  border: 1px solid black
}

.articles-list{
  width: 100%;
  list-style-type: none;
  display: inline-block;
  padding: 1rem 4rem;
  vertical-align: middle;
}
