#root {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  text-align: center; 
  font-family: sans-serif;
}

.sticky-top{
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  margin-bottom: 20px;
  z-index: 100;
}

.header{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: red;
  
}

.nav{
  display: flex;
  justify-content: space-evenly;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(255, 96, 96);
  text-align: center;
  font-family: sans-serif;
  border: 1px solid rgb(185, 0, 0);
  list-style-type: none;
}

.list-container{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.article-card {
  padding: 1rem 4rem;
  border: 1px solid black
}

.comment-card {
  text-align: left;
  padding: 1rem 4rem;
  border: 1px solid rgb(219, 219, 219)
}

.welcome-page{
  display: flex;
  padding: 0.5rem 4rem;
  justify-content: center;
  border: 1px solid black;
}

.single-article{
  padding-inline: 40px;
  padding: 1rem 4rem;
  border: 1px solid black;
}

.comment-header{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}


.comment-form{
  display: flex;
  flex-direction: column;

}

.username-box{
  border: 2px solid black;
  margin-bottom: 10px;
  align-content: center;
}

.comment-box{
  border: 2px solid black;
  margin-bottom: 10px;
  padding: 10px;
  height: 120px;
}

::placeholder{
  font-family: sans-serif;
  font-size: medium;
}

.article-properties{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: bold;
}

.article-body{
  text-align: left;
}

.vote-display{
  display: flex;
  justify-content: right;
}

.vote-text{
  margin-right: 10px;
}

.vote-button{
  width: 120px;
  height: 60px;
 margin-left: 10px;
}

.pressed-vote-button{
  background-color: rgb(185, 185, 185);
  width: 120px;
  height: 60px;
  margin-left: 10px;
 }
 
ul {
  padding: 0;
  list-style-type: none;
}

#submit-comment{
width: 200px;
}


